<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<form action="/images/add" method="POST" enctype="multipart/form-data"> <!--action le dice al formulario donde mandar la info y method le indica a travez de que metodo hacerlo | enctype="multipart/form-data esto es para decirle al formulario que se va a subir un archivo a travez de un input-->
					<div class="form-group">
						<input type="text" name="title" class="form-control" placeholder="Image Title">
					</div>
					<div class="form-group">
						<textarea name="description" class="form-control" placeholder="Image Description"></textarea>
					</div>
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file"name="image" class="custom-file-input" id="inputGroupFile01"> <!-- este file es abra alparecer una pestaña donde daremos opciones, esto es gracias al navegador | el id tambien biene de bootstrab-->
							<!-- el input de tipo file nos abre nustro archivos del pc para escojer un archivo, lo escogemos y no veremos nada a menos que lo programemos, pero aun asi internamente pone algo como un apuntador-->
							<label for="inputGroupFile01" class="custom-file-label">Escoje un archivo</label> <!-- este label es para colocar un texto para indicar algo como el escojer su imagen en este caso-->
						</div>
					</div>
					<button class="btn btn-primary">
						UPLOAD PHOTO
					</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Operations</th>
				</tr>
			</thead>
			<tbody>
				{{#each photos}}
					<tr>
						<td>{{title}}</td>
						<td>{{description}}</td>
						<td>
							<a class="btn btn-primary" href="{{imageURL}}" target="_blank">View</a>
							<a class="btn btn-danger" href="/images/delete/{{_id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>